%a.hello-bar.animated{ href: '/2018/06/03/movingtogitlab/' }
  .hello-bar-content
    -# = image_tag "/images/home/gcp-logo.png", srcset: "/images/home/gcp-logo@2x.png 2x"
    %p
      Are you #movingtogitlab? Read our blog post on migrating to GitLab      
