@import "../mixins/typography";

.annotated-image-container {
  position: relative;
  display: inline-block; // to collapse around the image

  .annotation {
    @extend %aspect-ratio-box;
    @include accent-font-regular;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-self-hosted-accent;
    background-image: linear-gradient(to top, $color-saas-accent 0%, $color-self-hosted-accent 100%);
    color: $color-white;
    font-size: 20px;
    line-height: 1;
    text-align: center;


    &::before {
      padding-top: 100%;
    }

    &.annotation--sw {
      right: 0;
      bottom: -20px;

      @media (min-width: $screen-sm-min) {
        right: -60px;
      }
    }

    .annotation-content {
      padding: 0 30px 10px;
    }

    strong {
      @include accent-font-black;
      display: block;
      font-size: 81px;
    }
  }
}

